*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.clear{
    clear: both;
}

.center{
    width: 1280px;
    margin: 0 auto;
}

.header{
    min-width: 1280px;
    width: 100%;
    height: 60px;
    background-color: #212343;
}

.header img{
    margin: 15px;
}

.container-banner{
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
}

.container-list{
    padding: 30px;
    margin-top: 40px;
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    margin-top: 18px;
    color: white;
}


.form{
    padding: 20px 10px;
    width: 400px;
    height: calc(100% + 30px);
    float: right;
    position: relative;
    top: -15px;
    background-color: white;
    border: 8px solid #ccc;
    background-clip: padding-box;
}

.form h2{
    width: 100%;
    font-weight: normal;
    color: #999999;
    font-size: 20px;
}

.input-container{
    margin-top: 20px;
}

.input-container span, .form p{
    display: inline-block;
    width: 100%;
    color: #bbbbbb;
    font-size: 17px;
}

.form p{
    margin: 20px 0;
}

.input-container input[type=text]{
    margin-top: 8px;
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
}

.form .input-submit-container{
    text-align: center;
}
.input-submit-container input[type=submit]{
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 280px;
    height: 56px;
    background-color: #363a6d; 
    display: inline-block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #4a5097;
    cursor: pointer;
}

.input-submit-container input[type=submit]:hover{
    background-color: #323665;
    border: none;
}

/* -- new section -- */

.container-following{
    min-width: 1280px;
    padding: 40px 0;
    background-color: rgb(221, 221, 221);
    text-align: center;
}

.container-following h2{
    font-weight: normal;
}

.container-following p{
    display: inline-block;
    margin: 15px 0;
    width: 698px;
    text-align: justify;
}

.arrow{
    position: relative;
    margin-left: -20px;
    left: 50%;
    top: 60px;
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
}

/* -- Section 1 -- */

.section-1{
    min-width: 1280px;
    padding: 90px 0;
}

.section-1 h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section{
    margin-top: 40px;
    text-align: center;
}

.container-single{
    float: left;
    width: 33.33%;
    padding: 30px;
}

.container-single p{
    padding: 10px 25px;
}

.container-single img{
    width: 70px;
}

/* -- footer -- */

.footer{
    padding: 20px 0;
    border-top: 4px solid rgb(221, 221, 221);
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 8px;
}